APP_NAME=Problem Bank API

POSTGRES_HOST=localhost
POSTGRES_DB=problem_bank
POSTGRES_USER=problem_bank
POSTGRES_PASSWORD=problem_bank_local
POSTGRES_PORT=25431

FUSEKI_PORT=3030
FUSEKI_JVM_ARGS=-Xms256m -Xmx1g
